<div class="dropdown m-1">
  <button
    class="dropdown-toggle btn shadow border px-2 py-1 align-baseline"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false">
    <i class="bi bi-translate me-1"></i>
  </button>

  <ul class="dropdown-menu dropdown-menu-end">
    {% for lang in site.languages %}
      {% if lang == site.active_lang %}
        <li><span class="dropdown-item active">{{ lang }}</span></li>
      {% else %}
        <li>
          <a class="dropdown-item"
             {% static_href %}
             href="{% if lang == site.default_lang %}{{ page.url }}{% else %}/{{ lang }}{{ page.url }}{% endif %}"
             {% endstatic_href %}>
            {{ lang }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
