<div class="dropdown">
  <button
    class="btn btn-sm px-1 p-0 dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    aria-label="Change language">
    <i class="bi bi-translate fs-6"> {{ site.active_lang }}</i>
  </button>

  <ul class="dropdown-menu dropdown-menu-end">
    {% for lang in site.languages %}
      {% if lang == site.active_lang %}
        <li>
          <span class="dropdown-item active">{{ lang }}</span>
        </li>
      {% else %}
        <li>
          <a class="dropdown-item"
             href="{% if lang == site.default_lang %}{{ page.url | relative_url }}{% else %}/{{ lang }}{{ page.url | relative_url }}{% endif %}">
            {{ lang }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
