---
layout: default
---

{%- if page.title -%}
  <h1 class="mb-4">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
  <h2 class="mb-3">{{ page.list_title | default: "Posts" }}</h2>
  <div class="row g-4">
    {%- for post in site.posts -%}
    <div class="col-12 col-md-6">
      <a href="{{ post.url | relative_url }}" class="text-decoration-none">
        <div class="border rounded shadow-sm px-3 py-2 h-100 card-hover">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <small class="text-muted fw-bolder">
            <i class="bi bi-calendar-event me-2"></i>{{ post.date | date: date_format }}
          </small>
          <h5 class="mt-3">{{ post.title | escape }}</h5>
          {%- if site.show_excerpts -%}
            <p class="mb-0 mt-2 text-muted">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
          {%- endif -%}
        </div>
      </a>
    </div>
    {%- endfor -%}
  </div>
{%- endif -%}
